<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="rtwApp">
<head>
    <meta charset="utf-8" />
    <title>完成版:Highchart-Angular-Mqtt.js</title>
    <link rel="icon" type="image/png" href="assets/imgs/ok.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet" />       <!-- 讓網頁漂亮一點的CSS Style -->
    <link href="assets/css/main.css" rel="stylesheet" />            <!-- 讓表單與角落離開一點 -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <script src="assets/js/angular.min.js"></script>                <!-- 操控網頁元件的函式庫 -->
    <script src="assets/js/highcharts.js"></script>                 <!-- 產生圖表(Highchart)的函式庫 -->
    <script src="assets/js/highcharts-more.js"></script>            <!-- Highchart的延伸工具函式庫 -->
    <script src="assets/js/solid-gauge.js"></script>                <!-- Highchart特定圖表函式庫 -->
    <script src="assets/js/highcharts-ng.min.js"></script>          <!-- Angular.js對Highchart的函式庫 -->
    <script src="assets/js/mqttws31.min.js"></script>               <!-- 連結MQTT Broker的函式庫 -->
    <script src="assets/js/Math.uuid.js"></script>                  <!-- 一個產生Unique ID的函式庫 -->
    <script src="assets/js/moment-with-locales.min.js"></script>    <!-- 一個處理時間的函式庫 -->
</head>
<body ng-controller="rtwAppCtrl">
    <h3>Highchart - Angular.js + MQTT版</h3>
    <a href="/index-s02.html"><i class="fa fa-car"></i> e2-rtw-s02</a>
    <!-- 網頁表單UI -->
    <h4>資料表單(View)</h4>
    <form>
        Mqtt Host/Port: <br />
        <input type="text" ng-model="vm.mqtt_host" /> <input type="text" ng-model="vm.mqtt_port" /> <br /><br />
        User Name: <br />
        <input type="text" ng-model="vm.user_id" /><br /><br />
        Group Name: <br />
        <select ng-model="vm.group_id" />
            <option value="g1"> g1</option>
            <option value="g2"> g2</option>
		</select><br /><br />
		<!-- <input type="button" value="Join Group" ng-click="action.join_group()" /><br /><br /> -->

        Topic: <br />
        <input type="text" ng-model="vm.topic" ng-show="vm.is_connected" size="30" />
        <br />
		<!--
        Chart Data Type:<br />
        <select ng-model="vm.chart_data_type" ng-show="vm.is_connected">
            <option value="move"> 移動</option>
            <option value="exercise"> 運動</option>
            <option value="standard"> 標準</option>
        </select><br /><br />

        Chart Data: <br />
        <input type="number" ng-model="vm.message" ng-show="vm.is_connected" />
        <input type="button" value="Send" ng-click="action.send_message()" ng-show="vm.is_connected && vm.topic.length>0" /> <br /><br />
		-->

        Message: <br />
        <input type="text" ng-model="vm.message" ng-show="vm.is_connected" />
        <input type="button" value="Send" ng-click="action.send_message()" ng-show="vm.is_connected" /> <br /><br />

        Subscribe Topic: <br />
        <input type="text" ng-model="vm.subscribe_topic" ng-show="vm.is_connected" />
        <input type="button" value="Subscribe" ng-click="action.subscribe_topic()" ng-show="vm.is_connected" />
        <input type="button" value="Unsubscribe" ng-click="action.unsubscribe_topic()" ng-show="vm.is_connected && vm.is_subscribed" /> <br /><br />

        <input type="button" value="Connect" ng-click="action.connect_mqtt()" ng-show="!vm.is_connected" />
        <input type="button" value="Disconnect" ng-click="action.disconnect_mqtt()" ng-show="vm.is_connected" />
    </form>

    <br />
    <!-- 資料繫結展現區 -->
    <h4>資料繫結(Model)</h4>

    <h4>己上線的使用者</h4>
    <span ng-repeat="online_user in vm.online_users" class="text-danger"><a href="" ng-click="action.build_private_chart_topic(online_user)"><i class="fa fa-bar-chart-o"></i> {{online_user}}</a> </span>

    <h4>即時圖表</h4>
    <div style="width: 400px; height: 400px; margin: 0 auto">
        <highchart config="chartConfig"></highchart>
    </div>    
    
    <h4>己訂閱的主題</h4>
    <table class="table-bordered">
        <tr>
            <th> Topic </th>
            <th> Action </th>
        </tr>
        <tr ng-repeat="subscribed_topic in vm.subscribed_topics">
            <td>{{subscribed_topic}}</td>
            <td><input type="button" value="Unsubscribe" ng-click="action.unsubscribe_topic(subscribed_topic)" /></td>
        </tr>
    </table>

    <h4>收到的訊息</h4>
    <table class="table-bordered">
        <tr>
            <th> Topic </th>
            <th> Retained </th>
            <th> Qos</th>
            <th> Message </th>
            <th> Timestamp </th>
        </tr>
        <tr ng-repeat="inbound_message in vm.inbound_messages">
            <td>{{inbound_message.topic}} </td>
            <td>{{inbound_message.retained}} </td>
            <td>{{inbound_message.qos}}</td>
            <td>{{inbound_message.payload}} </td>
            <td>{{inbound_message.eventdt}} </td>
        </tr>
    </table>

    <!-- 程式邏輯 -->
    <script>
        // 定義Angular Module - ** 在這裡要引入"highcharts-ng"的模組 **
        var rtwApp = angular.module('rtwApp', ["highcharts-ng"]);

        // 定義Angular Controller
        rtwApp.controller('rtwAppCtrl', function ($scope) {
            // 全域變數
            var mqtt_client;
            // 初始view model的資料與變數
            $scope.vm = {};
            $scope.vm.mqtt_host = "127.0.0.1";
            $scope.vm.mqtt_port = "9001";
            $scope.vm.user_id = "q";
            $scope.vm.group_id = "g1";

            $scope.vm.topic = "";
            $scope.vm.message = 0;
            $scope.vm.is_connected = false;
            $scope.vm.subscribe_topic = "chat";
            $scope.vm.btn_subscribe = "Subscribe";
            $scope.vm.is_subscribed = false;
            $scope.vm.subscribed_topics = [];
            $scope.vm.inbound_messages = [];
            $scope.vm.online_users = [];
			$scope.vm.g1_users = [];
			$scope.vm.g2_users = [];

            // 初始圖表的資料與變數
            $scope.vm.chart_data_type = "move";
            $scope.vm.chart_data_move = 0;
            $scope.vm.chart_data_exercise = 0;
            $scope.vm.chart_data_standard = 0;

            // 設定UI會觸發的動作
            $scope.action = {};
            // **動作: 連接MQTT Broker
            $scope.action.connect_mqtt = function () {
                // 檢查user_id不能為空
                if ($scope.vm.user_id.length === 0) {
                    alert("User ID could not be empty!")
                    return;
                }
                // 更新圖表的抬頭
                //$scope.chartConfig.title.text = "活動力: " + $scope.vm.user_id;
                $scope.chartConfig.title.text = "Group chat in room: " + $scope.vm.group_id;

                // 產生mqtt連結client物件的instance
                mqtt_client = new Paho.MQTT.Client($scope.vm.mqtt_host, Number($scope.vm.mqtt_port), Math.uuid(8, 16));
                // 設定某些事件的回呼處理的functions
                mqtt_client.onConnectionLost = onConnectionLost;
                mqtt_client.onMessageArrived = onMessageArrived;

                // 設定LWT的訊息
                var lastwill_topic = "rtwchat/user/" + $scope.vm.user_id + "/presence";
                var lastwill_msg = new Paho.MQTT.Message("offline");
                lastwill_msg.destinationName = lastwill_topic;
                lastwill_msg.retained = true;

                // 連接mqtt broker
                mqtt_client.connect({ onSuccess: onConnect, willMessage: lastwill_msg });

                // 當成功建立mqtt broker的連結時會被呼叫的function
                function onConnect() {
                    // UI元件的控制
                    $scope.vm.is_connected = true;

                    // 訂閱所有使用者上線的訊息"rtwchat/user/+/presence"
                    var presence_topic = "rtwchat/user/+/presence";
                    mqtt_client.subscribe(presence_topic);
                    $scope.vm.subscribed_topics.push(presence_topic);

                    // 送出使用者上線的訊息到"rtwchat/{user_id}/presence"
                    var mqtt_message = new Paho.MQTT.Message("online");
                    mqtt_message.destinationName = "rtwchat/user/" + $scope.vm.user_id + "/presence";
                    mqtt_message.retained = true; // *** 設成保留訊息 ***
                    mqtt_client.send(mqtt_message);

                    // 訂閱自己的Private-Chat主題"rtwchat/user/+/chat/+"
                    var private_chat_topic = "rtwchat/user/" + $scope.vm.user_id + "/chat/+";
                    mqtt_client.subscribe(private_chat_topic);
                    $scope.vm.subscribed_topics.push(private_chat_topic);

                    // 訂閱自己的Chart Data主題"rtwchat/user/+/chart/+"
                    var private_chat_topic = "rtwchat/user/" + $scope.vm.user_id + "/chart/+";
                    mqtt_client.subscribe(private_chat_topic);
                    $scope.vm.subscribed_topics.push(private_chat_topic);

					// Subscribe new joined group member "rtwchat/group/{group_id}/chat/+"
                	var gchat_topic = "rtwchat/group/" + $scope.vm.group_id + "/chat/+";
                	mqtt_client.subscribe(gchat_topic);
                	$scope.vm.subscribed_topics.push(gchat_topic);

					switch($scope.vm.group_id) {
						case "g1":
							$scope.vm.g1_users.push($scope.vm.user_id);
							console.log($scope.vm.g1_users.length);
							break;
						case "g2":
							$scope.vm.g2_users.push($scope.vm.user_id);
							console.log($scope.vm.g2_users.length);
							break;
						default:
							console.log("Something wrong with group assignment");
					}

					console.log("join group: " + $scope.vm.group_id);

                    $scope.$apply(); //<--這個動作通知angular.js來觸發data-binding的sync
                }
                // 當與mqtt broker的連結被斷開時會被呼叫的function
                function onConnectionLost(responseObject) {
                    if (responseObject.errorCode == 0) { //正常的斷線
                        console.log("onConnectionLost:" + responseObject.errorMessage);
                    }
                    else {
                        // UI元件的控制
                        $scope.vm.is_connected = false;
                        $scope.$apply(); //<--這個動作通知angular.js來觸發data-binding的sync
                    }
                }
                // 當訂閱的主題有訊息時會被呼叫的callback function
                function onMessageArrived(message) {
                    // 把訊息的主要資訊擷取出來
                    var topic = message.destinationName;
                    // 建構一個訊息資訊物件
                    var msgObj = {
                        'topic': message.destinationName,
                        'retained': message.retained,
                        'qos': message.qos,
                        'payload': message.payloadString,
                        'eventdt': moment().format('YYYY-MM-DD, hh:mm:ss')
                    };

                    // 使用html的table來秀出訊息
                    $scope.vm.inbound_messages.unshift(msgObj); //最新進來的訊息透在最上面   

                    // 使用regular expression來偵測是否為"presence"訊息
                    var regex = "rtwchat/user/(.+)/presence";
                    var found = topic.match(regex);
                    if (found) { // this is "Presence" message
                        var user_id = found[1]; //get the "userid" from regular expression matching 
                        var idx = $scope.vm.online_users.indexOf(user_id); // 檢查在UI的array中是否存在相同的使用者
                        if (msgObj.payload == "online") {
                            if (idx == -1)
                                $scope.vm.online_users.push(user_id);
                        }
                        else {
                            if (idx != -1)
                                $scope.vm.online_users.splice(idx, 1);
                        }
                    }

                	/*var user_id = $scope.vm.user_id; //get the "userid"
                	var regex = "rtwchat/group/g1/presence";
					console.log(topic);
                	//found = message.payloadString.match(regex);
                	//found = msgObj.payload.match(regex);
					var found = topic.match(regex);
                	var idx = $scope.vm.g1.indexOf(user_id); // 檢查在UI的array中是否存在相同的使用者
					console.log("debug");
                	if (found) {
                	    if (idx == -1)
                	        $scope.vm.g1.push(user_id);
                	}
                	else {
                	    if (idx != -1)
                	        $scope.vm.g1.splice(idx, 1);
                	}

                	var regex = "rtwchat/group/g2/presence";
                	//found = msgObj.payload.match(regex);
					var found = topic.match(regex);
                	var idx = $scope.vm.g2.indexOf(user_id); // 檢查在UI的array中是否存在相同的使用者
                	if (found) {
                	    if (idx == -1)
                	        $scope.vm.g2.push(user_id);
                	}
                	else {
                	    if (idx != -1)
                	        $scope.vm.g2.splice(idx, 1);
                	}*/


                    // 使用regular expression來偵測是否為"chart"訊息
                    regex = "rtwchat/user/(.+)/chart/(.+)";
                    found = topic.match(regex);
                    if (found) { // this is "Chart data" message
                        var user_id_to = found[1]; //get the "userid" from regular expression matching 
                        var chartData_Type = found[2]; //get the "chart_data_type" from regular expression matching
                        var chartData = Number(msgObj.payload);
                        update_chart_data(chartData_Type, chartData);
                    }

                    $scope.$apply(); //<--這個動作通知angular.js來觸發data-binding的sync
                }
            };

            // Utility函式
            reset_variables = function () {
                $scope.vm.message = "";
            };
				
			$scope.action.join_group = function () {
                // group_id must be non-zero
                if ($scope.vm.group_id.length === 0) {
                    alert("Group ID could not be empty!")
                    return;
                }
				
				// Send new member message "rtwchat/group/{group_id}/chat/{user_id}"
				var msg = $scope.vm.user_id + "online";
                var mqtt_message_g = new Paho.MQTT.Message("abc");
                mqtt_message_g.destinationName = "rtwchat/group/" + $scope.vm.group_id + "/chat/+";
                mqtt_message_g.retained = true; // *** 設成保留訊息 ***
                //mqtt_client.send(mqtt_message_g);
					

                // 訂閱自己的Private-Chat主題"rtwchat/group/+/chat/+"
                //var private_chat_topic = "rtwchat/group/" + $scope.vm.user_id + "/chat/+";
                //mqtt_client.subscribe(private_chat_topic);
                //$scope.vm.subscribed_topics.push(private_chat_topic);

                // Subscribe Group_ID "rtwchat/user/+/group/+"
                //var group_topic = "rtwchat/group/" + $scope.vm.group_id + "/group/+";
            	//mqtt_client.subscribe(group_topic);
            	//$scope.vm.subscribed_topics.push(group_topic);

            	$scope.$apply(); //<--這個動作通知angular.js來觸發data-binding的sync
				console.log($scope.vm.group_id);
			};

            // **動作: 斷開MQTT Broker連線
            $scope.action.disconnect_mqtt = function () {
                // 送出要離線的"offline"訊息
                var presence_topic = "rtwchat/user/" + $scope.vm.user_id + "/presence";
                var mqtt_message = new Paho.MQTT.Message("offline");
                mqtt_message.destinationName = presence_topic;
                mqtt_message.retained = true; //設成retained

                mqtt_client.send(mqtt_message);

                // 斷開 MQTT connection
                mqtt_client.disconnect();

                $scope.vm.is_connected = false;
                // 清空UI暫存資料
                $scope.vm.subscribed_topics = [];
                $scope.vm.inbound_messages = [];
                $scope.vm.online_users = [];
            };
            // **動作: 送出訊息
            $scope.action.send_message = function () {
                var mqtt_message = new Paho.MQTT.Message($scope.vm.message+""); //轉換數字成文字
                // rtwchat/user/{user_id:TO}/chart/{chart_data_type}
                mqtt_message.destinationName = $scope.vm.topic + "/" + $scope.vm.chart_data_type;
                mqtt_message.retained = true; // 設成retained
                mqtt_client.send(mqtt_message);
            };
            // **動作: 訂閱訊息主題
            $scope.action.subscribe_topic = function () {
                // 先檢查是有有訂閱過
                var idx = $scope.vm.subscribed_topics.indexOf($scope.vm.subscribe_topic);
                if (idx == -1) {
                    // 要訂閱訊息主題
                    mqtt_client.subscribe($scope.vm.subscribe_topic);
                    $scope.vm.subscribed_topics.push($scope.vm.subscribe_topic);
                };
            };
            // **動作: 取消訂閱
            $scope.action.unsubscribe_topic = function (topic_to_unsubscribe) {
                // 要解除訂閱
                mqtt_client.unsubscribe(topic_to_unsubscribe);
                // 移除在UI上的subscribed topics列表
                var idx = $scope.vm.subscribed_topics.indexOf(topic_to_unsubscribe);
                if (idx != -1)
                    $scope.vm.subscribed_topics.splice(idx, 1);
            };
            // **動作: 產生"private-chat"的topic
            $scope.action.build_private_chart_topic = function (user_to_chart) {
                // rtwchat/user/{user_id:TO}/chart/{chart_data_type}
                $scope.vm.topic = "rtwchat/user/" + user_to_chart + "/chart";
            }

            // **動作: 更新Highchart資料物件的內容
            update_chart_data = function (chart_data_type, chart_data) {
                // 取得原生的highchart的物件instance
                var highchart = $scope.chartConfig.getHighcharts();
                // 透過原本的highchart的API來修改圖表的資料
				/*
                if (chart_data_type === "move") {
                    highchart.series[0].setData([{
                        color: Highcharts.getOptions().colors[0],
                        radius: '100%',
                        innerRadius: '100%',
                        y: chart_data
                    }]);
                } else if (chart_data_type === "exercise") {
                    highchart.series[1].setData([{
                        color: Highcharts.getOptions().colors[1],
                        radius: '75%',
                        innerRadius: '75%',
                        y: chart_data
                    }]);
                } else if (chart_data_type === "standard") {
                    highchart.series[2].setData([{
                        color: Highcharts.getOptions().colors[2],
                        radius: '50%',
                        innerRadius: '50%',
                        y: chart_data
                    }]);
                }
				*/
				highchart.series[0].setData(
					[{y: $scope.vm.g1_users.length}, {y: $scope.vm.g2_users.length}]
				);
			};

            // 設定要繋結到Highchart的chartConfig物件
            $scope.chartConfig = ({
                options: {
                    chart: {
                        type: 'column',
                    }
            	},
				title: {
					text: ""
				},
				xAxis: {
					categories: ['g1','g2']
				},
				series:[{
					data:[{y:0},{y:0},{y:0},{y:0},{y:0}]
				}]
			});
        });
    </script>
</body>
</html>
