<!DOCTYPE html>
<!-- references: https://gist.github.com/erhwenkuo/b27fa5a1703068a7b5507e8de56adc64 -->
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="rtwApp">
<head>
    <meta charset="utf-8" />
    <title>練習版:Mqtt-Sub</title>
    <link rel="icon" type="image/png" href="assets/imgs/wip.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet" />       <!-- 讓網頁漂亮一點的CSS Style -->
    <link href="assets/css/main.css" rel="stylesheet" />            <!-- 讓表單與角落離開一點 -->
    <script src="assets/js/angular.min.js"></script>           <!-- 操控網頁元件的函式庫 -->
    <script src="assets/js/mqttws31.min.js"></script>               <!-- 連結MQTT Broker的函式庫 -->
    <script src="assets/js/Math.uuid.js"></script>                  <!-- 一個產生Unique ID的函式庫 -->
</head>
<body ng-controller="rtwAppCtrl">
    <h3>Mqtt - 訊息主題的訂閱</h3>
    <!-- 一個簡單的網頁表單UI -->
    <form>
        Mqtt Host/Port: <br />
        <input type="text" id="mqtt_host" ng-model="vm.mqtt_host" /> <input type="text" id="mqtt_port" ng-model="vm.mqtt_port" /> <br />
        Topic: <br />
        <input type="text" id="topic" ng-model="vm.topic" ng-show="vm.is_connected" ng-disabled="vm.is_subscribe" /> 
        <input type="button" id="subscribe" value="Subscribe" ng-click="action.subscribe_topic()" ng-show="vm.is_connected && !vm.is_subscribed" />
        <input type="button" id="unsubscribe" value="Unsubscribe" ng-click="action.unsubscribe_topic()" ng-show="vm.is_connected && vm.is_subscribed" /> <br /><br />        
        <input type="button" id="connect" value="Connect" ng-click="action.connect_mqtt()" ng-show="!vm.is_connected" />
    </form>

    <!-- 程式邏輯 -->
    <script>
        // Define angular module - app
		var rtwApp = angular.module('rtwApp', []);

		// Define angular controller
		rtwApp.controller('rtwAppCtrl', function ($scope) {
			// Global variable
    		var mqtt_client;
			// Initiate data and variables in view model
			$scope.vm = {};
			$scope.vm.mqtt_host = "127.0.0.1";
			$scope.vm.mqtt_port = "9001";
			$scope.vm.topic = "chat";
			$scope.vm.message = "";
			$scope.vm.btn_subscribe = "Subscribe";
			$scope.vm.is_connected = false;
			$scope.vm.is_subscribed = false;
			// UI trigger events
			$scope.action = {};
			$scope.action.connect_mqtt = function () {
				// Instatiate mqtt client
				mqtt_client = new Paho.MQTT.Client($scope.vm.mqtt_host, Number($scope.vm.mqtt_port), Math.uuid(8, 16));
				mqtt_client.onConnectionLost = onConnectionLost;
				mqtt_client.onMessageArrived = onMessageArrived;

				// Connected to broker
				mqtt_client.connect({ onSuccess: onConnect });
				// Callback function of connection
				function onConnect() {
					// UI elements
					$scope.vm.is_connected = true;
					$scope.$apply();
				}
				// Callback function while disconnected
				function onConnectionLost(responseObject) {
					if (responseObject.errorCode !== 0) {
						console.log("onConnectionLost:" + responseObject.errorMessage);
					}
					// UI elements
					$scope.vm.is_connected = false;
					$scope.$apply();
				}
				// Callback function while messages arrived at the broker
				function onMessageArrived(message) {
					var topic = message.destinationName;
					var msgObj = {
						'topic' : message.destinationName,
						'retained' : message.retained,
						'qos' : message.qos,
						'payload' : message.payloadString
					};
					
					console.log("onMessageArrived:" + JSON.stringify(msgObj));
					alert(JSON.stringify(msgObj));
				}
			};

			$scope.action.subscribe_topic = function () {
				mqtt_client.subscribe($scope.vm.topic);
				$scope.vm.is_subscribed = true;
			};

			$scope.action.unsubscribe_topic = function () {
				mqtt_client.unsubscribe($scope.vm.topic);
				$scope.vm.is_subscribe = false;
			};
		});
    </script>
</body>
</html>
