<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="rtwApp">
<head>
    <meta charset="utf-8" />
    <title>練習版:Mqtt-Pub</title>
    <link rel="icon" type="image/png" href="assets/imgs/wip.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet" />       <!-- 讓網頁漂亮一點的CSS Style -->
    <link href="assets/css/main.css" rel="stylesheet" />            <!-- 讓表單與角落離開一點 -->
    <script src="assets/js/angular.min.js"></script>           <!-- 操控網頁元件的函式庫 -->
    <script src="assets/js/mqttws31.min.js"></script>               <!-- 連結MQTT Broker的函式庫 -->
    <script src="assets/js/Math.uuid.js"></script>                  <!-- 一個產生Unique ID的函式庫 -->
</head>
<body ng-controller="rtwAppCtrl">
	<!-- References:https://gist.github.com/erhwenkuo/550eba6049a3437f597eb906f74ec2aa -->
    <h3>Mqtt - 訊息的發佈</h3>
    <!-- 一個簡單的網頁表單UI -->
    <form>
        Mqtt Host/Port: <br />
        <input type="text" ng-model="vm.mqtt_host" /> <input type="text" ng-model="vm.mqtt_port" /> <br /><br />
        Topic: <br />
        <input type="text" ng-model="vm.topic" ng-show="vm.is_connected" />
        <br />
        Message: <br />
        <input type="text" ng-model="vm.message" ng-show="vm.is_connected" /> 
        <input type="button" value="Send" ng-click="action.send_message()" ng-show="vm.is_connected" /> <br/><br/>
        <input type="button" id="connect" value="Connect" ng-click="action.connect_mqtt()" ng-show="!vm.is_connected" />
    </form>

    <!-- 程式邏輯 -->
    <script>
		// Define Angular Module - APP
		var rtwApp = angular.module('rtwApp', []);
		// Define Angular controller
		rtwApp.controller('rtwAppCtrl', function ($scope) {
            // 全域變數
            var mqtt_client;
			// Initiate variable and data in view model
			$scope.vm = {};
			$scope.vm.mqtt_host = "127.0.0.1";
			$scope.vm.mqtt_port = "9001";
			$scope.vm.topic = "chat";
			$scope.vm.message = "";
			$scope.vm.is_connected = false;
			// UI trigger events
			$scope.action = {};
			$scope.action.connect_mqtt = function () {
				// connected mqtt client intance
				mqtt_client = new Paho.MQTT.Client($scope.vm.mqtt_host, Number($scope.vm.mqtt_port), Math.uuid(8, 16));
				// Set callback function for connection lost
				mqtt_client.onConnectionLost = onConnectionLost;
				// Connect to mqtt broker
				mqtt_client.connect({ onSuccess: onConnect });
				// callback function of onConnect
				function onConnect() {
					// UI elements
					$scope.vm.is_connected = true;
					$scope.$apply(); // Trigger of angular.js for synchronization of data binding
				}
				// Handle for mqtt connection lost
				function onConnectionLost(responseObject) {
					if (responseObject.errorCode !== 0) {
						console.log("onConnectionLost:" + responseObject.errorMessage);
					}
					// UI control elements
					$scope.vm.is_connected = false;
					$scope.$apply(); // Synchronization
				}
			};
			$scope.action.send_message = function () {
				var mqtt_message = new Paho.MQTT.Message($scope.vm.message);
				mqtt_message.destinationName = $scope.vm.topic;
				mqtt_client.send(mqtt_message);
				// Reset variables
				reset_variables();
			};
			// Utility function
			reset_variables = function () {
				$scope.vm.message = "";
			};
        });
    </script>
</body>
</html>
